.fst_div{
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 0;
    text-align: left;
    width:55%
    
}

.f2st_div{
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 0;
    text-align: left;
    width:55%
}
.h3{
    color: #233d63;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin: 0px 0px 10px 0px;
    padding-bottom: 10px;
}
.h2{
    color: #323850;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    margin: 0px 0px 30px 0px;
    font-family: "Lato", Sans-serif;
    font-size: 90px;
    font-weight: 900;
    line-height: 98px;

}
.p{
    color: #8b8e92;
    font-family: "Lato", Sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 46px;
}

.Rbutton{
    height: 85px;
    text-align: center;
    width: 200px;
    /* padding: 24px 39px 24px 39px; */
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #ffffff;
    background-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: flex;
  align-items: center;
  justify-content: center;
}

.Rbutton:hover{
    text-decoration: none;
    background-color: white;
    color:black;
    border-color: black;
    border-radius: 3px 3px 3px 3px;
    
}

.v_p{
    color: #ff1d4d;
    font-family: Lato;
    font-size: 21px;
    font-weight: 700;
    padding-left: 18px;
}
.v_d{
    
   margin-left: 35px;
  
}

.w_p{
    color: #ff1d4d;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 0.5px;
    text-align: center;
}

.w1_p{
    color: #323850;
    font-family: Lato;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    word-spacing: 0;
    line-height: 0.9;
}

.allSides
{
width:470px;height:370px;
background-color: white;
// box-shadow: 0 0 10px rgba(0,0,0,0.6);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
// box-shadow: 0 0 15px -2px #444444;
box-shadow: 0px 0px 40px -15px #888888;
}
.read_m{
    padding: 0px 0px 0px 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    color: #323850;
    background-color: rgba(186,186,186,0);
    border-radius: 0px 0px 0px 0px;
}

.read_m:hover{
    color:#ff1d4d;
    text-decoration: none;
}
.Far_m{
    color: #656565;
    font-size: 23px;
    margin: 0px 0px 35px 0px;
    font-family: poppins;
    text-align: justify;
}
.F_head{
    color: #323850;
    font-family: "Lato", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    
}
.F_head:hover{
    color:black;
}

.div1{
    padding: 45px 45px 45px 45px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
    font-family: "poppins", Sans-serif;
}

.last_sec{
    width:1380px;
    display:flex;
    // margin-left:170px;
    background-color: #C0C0C0;
    // opacity: .1;
    height: 720px;
    align-items: center;
}

.div_left{
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    font-family: "poppins", Sans-serif;
    background-color: #fafafa;
    height: 700px;
    width: 700px;
    margin-bottom: 300px;
    margin-left: -115px;
}

.about_us{
    color: #ff1d4d;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 11px 0px;
}
.nd_2part{
    color: #323850;
    margin: 0px 0px 0px 0px;
    font-family: Lato;
    font-size: 36px;
    font-weight: bold;
    margin: 0px 0px 11px 0px;
}

.nd_3part{
    color: #707070;
    font-family: Lato;
    font-size: 20px;

}














// .Rbutton{
//     height: 85px;
//     text-align: center;
//     width: 200px;
//     /* padding: 24px 39px 24px 39px; */
//     font-family: Lato;
//     font-size: 18px;
//     font-weight: 700;
//     text-transform: uppercase;
//     letter-spacing: 1.2px;
//     color: #ffffff;
//     background-color: #ff1d4d;
//     border-style: solid;
//     border-width: 1px 1px 1px 1px;
//     border-color: #ff1d4d;
//     border-radius: 3px 3px 3px 3px;
//     box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
//     text-decoration: none;
//     display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .Rbutton:hover{
//     text-decoration: crimson;
//     background-color: white;
//     color:#ff1d4d;
    
// }