.common{
    height: 300px;
    // border: 1px solid red;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

.heading{
    color: #6ec1e4;
    font-weight: 600;
    font-size: 35px;
    font-family: Lato, Poppins;
}

.body{
    color: #7a7a7a;
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}